@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@theme {
  --font-instrument: "Instrument Sans", sans-serif;
  --color-primary-me: #4e66ec;
  --color-primary-me-hover: #384fcf;
  --color-second-me: #0d1017;
}
